In [1]:
x = 0
y = 5

if x < y:
    print('yes')
if y < x:
    print('yes')
if x:
    print('yes')
if y:
    print('yes')
if 'aul' in 'grault':
    print('yes')
if 'quux' in ['foo', 'bar', 'baz']:
    print('yes')

yes
yes
yes

In [2]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    
print('After conditional')

After conditional

In [3]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('Outer condition is true')
    
    if 10 > 20:
        print('Inner condition 1')
        
    print('Between inner conditions')
    
    if 10 < 20:
        print('Inner condition 2')
    
    print('End of outer condition')
print('After outer condition')

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

In [4]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [5]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("Beli Buku")
else:
    print("Uang tidak cukup")

Uang tidak cukup

In [6]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("Beli Buku")
elif uang > hargaMajalah:
    print("Beli Majalah")
else:
    print("Uang tidak cukup")

Uang tidak cukup

In [7]:
name = 'Hacktiv8'

if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Hello Hacktiv8

In [8]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

In [9]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [10]:
if 'z' in 'foo': print('1'); print('2'); print('3')

In [11]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [12]:
x = 3

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

In [13]:
x = 3

if x == 1:
    print('foo')
    print('bar')
    print('baz')
elif x == 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

corge
grault

In [14]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [15]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [16]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [17]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [18]:
if True:
    print('foo')

foo

In [19]:
if True:
    pass
print('foo')

foo

In [20]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [21]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [22]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [23]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

In [24]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [25]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

In [26]:
if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

NameError: name 'gender' is not defined

In [27]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

## One-Line while LOops

In [28]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

In [29]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [30]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [31]:
for k in d:
    print(d[k])

1
2
3

In [32]:
for k in d.values():
    print(k)

1
2
3

In [33]:
for k, v in d.items():
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

In [34]:
for v in d.values():
    print(v)

1
2
3

In [35]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

In [36]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
            break
    print(i)

foo

In [37]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
            continue
    print(i)

foo
qux

In [38]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')

foo
bar
baz
qux
Done.

In [39]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
            break
    print(i)
else:
    print('Done.')

foo

In [43]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45f, 120c:")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) / 5 / 9))
else:
    print("Masukan input yang benar")

print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg. 45f, 120c:90c
Masukan input yang benar

NameError: name 'result' is not defined

In [44]:
while True:
    msg = input("Ketikan karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

Ketikan karakter: STOP
stop